


<div class="set-9">
    <p style="padding-right: 30px"> <span><a href="#" class="btn-1">New Release</a></span>   <span> <a href="#" class="btn-1">Most Popular</a>  </span> <span><a href="#" class="btn-1">Browse Genres</a></span>   <span> <a href="#" class="btn-1">Advanced Search</a>  </span> </p>
</div>