@model ForgotPasswordVM
@{
}

<style>
    body {
        background: #eeeeee;
    }
</style>

<div class="container">
    <main role="main" class="pb-3 m-5">
        <div class="auth-panel">
            <div class="auth-panel-inner">
                <div style="height: 100px;" class="flex-btn">
                    <h2>Forgot Your <br /> Password?</h2>
                    <a asp-controller="Home" asp-action="Index">back to home</a>
                </div>
                <div asp-validation-summary="All"></div>

                <form method="post" asp-action="ForgotPassword" asp-controller="Account">
                    <p><input asp-for="Email" placeholder="Email" autocomplete="off" /></p>

                    <button type="submit" class="btn btn-primary">Send</button>
                </form>

                <p style="padding-top: 20px">
                    Still remember your password? Login <a asp-action="Login" asp-controller="Account">here</a>
                </p>

                <p>
                    @if (string.IsNullOrEmpty(ViewBag.Message))
                    {
                    <p>@ViewBag.Message</p>
                    }
                </p>
            </div>
        </div>
    </main>
</div>