

<style>
    body {
        background-color: white;
        color: black;
    }
</style>


<div class="congrat-box">
    <h1>An email to reset password has been sent.</h1>
    <div asp-validation-summary="All"></div>
</div>



